html,body {
    overflow: hidden;
    margin: 0;
    font-family: "Microsoft YaHei", "Helvitica Neue", Helvitica, Arial, "Hiragino Sans GB", "SimHei", sans-serif;
    background: #333333;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgba(0, 0, 0, 0.6);
    height: 100%;
    transition: opacity .2s ease-in-out, background .2s ease-in-out;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:after,:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.wrap {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .4s cubic-bezier(0.65, 0.05, 0.36, 1), background .4s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.container {
    overflow: hidden;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 75px;
    padding-bottom: 35px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width:750px
    }
}

@media (min-width: 992px) {
    .container {
        width:970px
    }
}

@media (min-width: 1150px) {
    .container {
        width:1100px
    }
}

@media (min-width: 1200px) {
    .container {
        width:1170px
    }
}

::-webkit-scrollbar {
    width: 4px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(86, 86, 86, 0.25);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(86, 86, 86, 0.25);
}

::-webkit-scrollbar-thumb:vertical:hover {
    background: rgba(74, 121, 167, 0.77);
}

::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(52, 127, 197, 0.77);
}

::-webkit-input-placeholder {
    color: #97a4ab;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

/* user-select disable */
.top-nav-bar, .big-header, .app-select, .app-form label, ::-webkit-input-placeholder {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/* Nav Bar */
.top-nav-bar {
    z-index: 999;
    position: fixed;
    height: 40px;
    width: 100%;
    background: #1565c0;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.top-nav-bar .left-items, .top-nav-bar .right-items {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
}

.top-nav-bar .left-items {
    float: left;
}

.top-nav-bar .left-items .nav-title {
    color: #FFF;
    font-size: 14px;
    padding: 0 10px;
    transition: transform .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.top-nav-bar .left-items .nav-title.changing {
    transform: translateY(-100%);
}

.top-nav-bar .right-items {
    float: right;
}

.top-nav-bar .right-items .nav-btns {
    float: right;
    overflow: hidden;
    border-radius: 0;
}

.top-nav-bar .right-items .nav-btns > a {
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
    padding: 3px 10px;
    display: inline-block;
    transition: background .2s ease-in-out;
    border-radius: 2px;
    margin-left: 5px;
}

.top-nav-bar .right-items .nav-btns > a:first-child {
    margin-left: 0;
}

.top-nav-bar .right-items .nav-btns > a > i {
    width: 20px;
    text-align: center;
}

.top-nav-bar .right-items .nav-btns > a:hover {
    background: rgba(255,255,255,.2);;
}

/* Taskgen */
.taskgen-header {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.taskgen-header .app-logo {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 340px;
}

.taskgen-form-toggle, .taskgen-main {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 992px) {
    .taskgen-main {
        width: 73.66666667%;
        float: left;
    }

    .taskgen-form-toggle {
        width: 26.33333333%;
        float: left;
    }
}

.taskgen-form-toggle .btn-list {
    background: rgb(47, 47, 47);
    padding: 7px 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
}

.taskgen-form-toggle .btn-list a {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background: #2f2f2f;
    color: #75838a;
    text-align: center;
    border-left: 2px solid transparent;
}

.taskgen-form-toggle .btn-list a:last-child {
    margin-bottom: 0;
}

.taskgen-form-toggle .btn-list a:hover {
    color: #2588f3;
}

.taskgen-form-toggle .btn-list a.active {
    color: #2588f3;
    border-left: 2px solid #2d4558;
}

.taskgen-main {
    background: #2f2f2f;
    padding: 0;
}

.taskgen-form {
    margin-left: auto;
    margin-right: auto;
    float: none;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
}

.taskgen-form label {
    display: inline-block;
    margin-bottom: 8px;
    color: #75838a;
}

.taskgen-form .form-group {
    margin-bottom: 18px;
    position: relative;
    overflow: hidden;
}

.taskgen-form .form-control {
    padding: 5px 17px;
    width: 100%;
    height: 34px;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #2588f3;
    background: #32363c;
    resize: none;
}

.taskgen-form .form-control.has-error {
    color: #EF5350;
    background: rgb(80, 49, 49);
}

.taskgen-form .form-control:focus {
    outline: none;
    border: 1px solid #4285f4;
}

.taskgen-form textarea.form-control {
    padding: 13px 17px;
    height: 240px;
    overflow-x: hidden;
}

.taskgen-form .form-btns {
    display: block;
    overflow: hidden;
    margin-top: 25px;
}

.taskgen-form .submit-btn {
    display: inline-block;
    padding: 7px 50px;
    border: none;
    color: #3492de;
    background: rgb(50, 54, 60);
    outline: none;
    font-size: 13.3333px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}

.taskgen-form .submit-btn:hover, .taskgen-form .submit-btn:active {
    color: #2fc798;
}

/* App Terminal */
.app-terminal {
}

.terminal-content {
    color: #a7a7a7;
    font-size: 16px;
    line-height: 1.7;
}

.terminal-content .line {
    margin-bottom: 7px;
    word-wrap: break-word;
}

.terminal-content .line.normal {
    color: #cacaca;
}

.terminal-content .line.success {
    color: #32f388;
}

.terminal-content .line.info {
    color: #38a5ff;
}

.terminal-content .line.warning {
    color: #ffc761;
}

.terminal-content .line.error {
    color: #ff4545;
}

.terminal-content .line .tag {
    margin-right: 10px;
}

/* Navbar Panel */
.navbar-panel {
    position: absolute;
    background: #FFF;
    width: 400px;
    height: 430px;
    z-index: 999;
    color: #757e91;
    word-break: break-all;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn .3s;
}

.navbar-panel.show {
    display: block;
}

.navbar-panel .panel-header {}

.navbar-panel .panel-header .panel-title {
    padding: 20px 25px;
    text-align: center;
    font-size: 16px;
    /* border-bottom: 1px solid #efefef; */
    color: #2196f3;
}

.navbar-panel .panel-header .panel-title > i {
    margin-right: 5px;
    vertical-align: middle;
}

.navbar-panel .downloads-list {}

.navbar-panel .downloads-list .download-item {
    position: relative;
    border-top: 1px solid #efefef;
}

.navbar-panel .downloads-list .download-item a {
    cursor: pointer;
}

.navbar-panel .downloads-list .download-item .details {
    padding: 10px 10px;
}

.navbar-panel .downloads-list .download-item .details .header {
    margin-bottom: 10px;
}

.navbar-panel .downloads-list .download-item .details .header .file-name {
    color: #2196f3;
    display: block;
    font-size: 16px;
    margin-bottom: 6px;
}

.navbar-panel .downloads-list .download-item .details .header .file-name:hover {}

.navbar-panel .downloads-list .download-item .details .header .download-url {
    display: block;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(27, 27, 27, 0.6);
}

.navbar-panel .downloads-list .download-item .details .header .download-url:hover {}

.navbar-panel .downloads-list .download-item .details .description {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    color: #717171;
}

.navbar-panel .downloads-list .download-item .details .progress {
    background-color: #e2e2e2;
    position: relative;
    height: 2px;
}

.navbar-panel .downloads-list .download-item .details .progress.indeterminate {
    overflow: hidden;
}

.navbar-panel .downloads-list .download-item .details .progress .progress-bar {
    position: absolute;
    width: 0;
    max-width: 100%;
    height: 100%;
    text-align: right;
    background-color: #2196f3;
    transition: all .3s;
    text-align: right;
}

.navbar-panel .downloads-list .download-item .details .progress .progress-bar .progress-text {
    position: relative;
    top: -18px;
    line-height: 18px;
    font-size: 12px;
    color: #666;
    display: inline-block;
    vertical-align: top;
}

.navbar-panel .downloads-list .download-item .details .progress.indeterminate .progress-bar {
    animation: progress-bar-indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    transition: all 0.2s linear;
    will-change: left, right;
    width: 30% !important;
}

@-webkit-keyframes progress-bar-indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

.navbar-panel .downloads-list .download-item .details .action-bar {
    margin-top: 5px;
}

.navbar-panel .downloads-list .download-item .details .action-bar a {
    color: #2196f3;
    margin-right: 10px;
}

.navbar-panel .downloads-list .download-item .details .action-bar a:last-child {
    margin-right: 0;
}

.navbar-panel .downloads-list .download-item .details .action-bar a:hover {
}

.navbar-panel .downloads-list .download-item .icon-wrapper {
    position: absolute;
    right: 0;
    top: 0;
}

.navbar-panel .downloads-list .download-item .icon-wrapper .remove-btn {
    font-size: 16px;
    line-height: 17px;
    vertical-align: middle;
    outline: none;
    width: 30px;
    height: 30px;
    background: none;
    margin: 0;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #93adb9;
}

.navbar-panel .downloads-list .download-item[dl-status="downloading"] {}

.navbar-panel .downloads-list .download-item[dl-status="pause"] {}

.navbar-panel .downloads-list .download-item[dl-status="pause"] .details .progress {}

.navbar-panel .downloads-list .download-item[dl-status="pause"] .details .progress .progress-bar {
    background-color: #b7b7b7;
}

.navbar-panel .downloads-list .download-item[dl-status="done"] {
}

.navbar-panel .downloads-list .download-item[dl-status="done"] .details .progress {
    display: none;
}

.navbar-panel .downloads-list .download-item[dl-status="done"] .details .progress .progress-bar {}

.navbar-panel .downloads-list .download-item[dl-status="fail"] .details .progress .progress-bar {
    background: #f95c57;
}

.navbar-panel .downloads-list .download-item[dl-status="fail"] .details .progress.indeterminate .progress-bar {
    width: 100% !important;
    animation: none;
}

.navbar-panel .downloads-list .download-item[dl-status="cancelled"] {}

.navbar-panel .downloads-list .download-item[dl-status="cancelled"] .details .header .file-name {
    color: rgba(19, 19, 19, 0.6);
    text-decoration: line-through;
}

.navbar-panel .downloads-list .download-item[dl-status="cancelled"] .details .description {
    display: none;
}

.navbar-panel .downloads-list .download-item[dl-status="cancelled"] .details .progress {
    display: none;
}

/* Tooltip */
.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: inherit;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    line-break: auto;
}

.tooltip.in {
    filter: alpha(opacity=90);
    opacity: .9;
}

.tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
}

.tooltip.right {
    padding: 0 5px;
    margin-left: 3px;
}

.tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px;
}

.tooltip.left {
    padding: 0 5px;
    margin-left: -3px;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 2px;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.tooltip.top-left .tooltip-arrow {
    right: 5px;
    bottom: 0;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

/* Sidebar Layer */
.sidebar-layer {
    opacity: 0;
    position: fixed;
    z-index: 997;
    height: 100%;
    width: 100%;
    top: 0px;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.54);
    transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.sidebar-layer.show {
    opacity: 1;
    right: 0;
}

.sidebar-layer .sidebar-block {
    position: fixed;
    z-index: 998;
    height: 100%;
    width: 360px;
    top: 0px;
    right: 0px;
    color: rgba(0, 0, 0, 0.87);
    background: rgb(255, 255, 255);
    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    border-radius: 0px;
    padding: 40px 0 0 0;
    transform: translate(370px, 0px); /* 360px + 10px */
}

.sidebar-layer .sidebar-block.show {
    transform: translate(0px, 0px) !important;
}

.sidebar-layer .sidebar-block .sidebar-header {
    background-color: rgb(33, 150, 243);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 15px;
}

.sidebar-layer .sidebar-block .sidebar-header > * {
    display: flex;
    font-size: 16px;
    color: #FFF;
}

.sidebar-layer .sidebar-block .sidebar-header .header-left {}

.sidebar-layer .sidebar-block .sidebar-header .header-right {}

.sidebar-layer .sidebar-block .sidebar-header .header-right i {}

.sidebar-layer .sidebar-block .sidebar-header .header-right button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: #FFF;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.task-runtime {
    position: absolute;
    top: 0;
    left: 0;
    background: #2b2b2b;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.task-runtime .task-item {}

.task-runtime .task-item .task-log-table {}

.task-runtime .task-item .task-log-table .line {
    animation: fadeIn .3s;
    color: #cacaca;
    word-break: break-all;
    margin-bottom: 8px;
    font-size: 14px;
}

.task-runtime .task-item .task-log-table [data-level="I"].line {
    color: #38a5ff;
}

.task-runtime .task-item .task-log-table [data-level="S"].line {
    color: #32f388;
}

.task-runtime .task-item .task-log-table [data-level="W"].line {
    color: #ffc761;
}

.task-runtime .task-item .task-log-table [data-level="E"].line {
    color: #ff4545;
}

.task-runtime .task-item .task-log-table .line > .tag {
    margin-right: 7px;
}